@for $i from 0 through 100 {
  .m#{$i} {
    margin: #{$i}px #{$i}px #{$i}px #{$i}px !important;
  }
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .p#{$i} {
    padding: #{$i}px #{$i}px #{$i}px #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
  .wi#{$i} {
    width: #{$i}px !important;
  }
  .he#{$i} {
    height: #{$i}px !important;
  }
  .c-w-#{$i} {
    width: #{$i}#{"%"};
  }
  .c-h-#{$i} {
    height: #{$i}#{"%"};
  }
}

.head-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 1s;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.2s;
}
.fade-transform-enter-from {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-30px);
}
.fade-transform-leave-to {
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(30px);
}

.n-dialog {
  background: $common-bg !important;
}

.n-image-preview-overlay {
  background: rgba(0,0,0,0.8)
}

.common-button-default {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 28px;
  border: 2px solid #f9f5e1;
  border-radius: 4px;
  color: #f9f5e1;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .15s ease-out,color .15s ease-out;
  cursor: pointer;
  &:hover {
    background: #f9f5e1;
    color: #474747;
  }
}

.common-button-black {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 28px;
  border: 2px solid #311d00;
  border-radius: 4px;
  color: #311d00;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .15s ease-out,color .15s ease-out;
  cursor: pointer;
  &:hover {
    background: #311d00;
    color: #474747;
  }
}