html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #1c1c1e;
}

body {
  line-height: unset !important;
}

a {
  color: #fab81b !important;
  text-decoration: none !important;
  &:hover {
    color: #fab81b !important;
  }
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 5px; /* 竖向滚动条宽度 */
  height: 5px; /* 横向滚动条高度 */
  background: transparent;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  display: none;
  width: 0;
  height: 0;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgb(104, 104, 104);
  border-radius: 100px;
}

.global-md-previewer {
  background: transparent !important;
  .md-editor-code-head {
    background: #000 !important;
  }
  code {
    background: #000 !important;
    color: #01A84D !important;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #f9f5e1 !important;
  }
  hr {
    border-color: #f9f5e1 !important;
    opacity: 0.4;
  }
  p {
    color: #b8b8a2 !important;
  }
  a {
    color: #f25322 !important;
    &:hover {
      color: #fab81b !important;
    }
  }
  ol {
    li {
      color: #f9f5e1 !important;
      opacity: 0.7;
      text-decoration: gold;
      list-style: decimal !important;
    }
  }
  ul {
    li {
      color: #f9f5e1 !important;
      opacity: 0.7;
      text-decoration: gold;
      list-style: disc !important;
    }
  }
  blockquote {
    border-color: #f25322 !important;
  }
}
