.bottom-wrapper {
  position: relative;
  width: 100vw;
  height: max-content;
  margin-top: 36px;
  background: $blob-bg;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botttom-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  &[isMobile="true"] {
    flex-direction: column;
  }
  &[isMobile="false"] {
    flex-direction: row;
  }
  .title {
    color: $common-font-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    :deep(.n-icon) {
      color: $org-font-color;
    }
    p {
      font-size: 18px;
      margin-left: 12px;
    }
  }
  .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-right: solid 1px $common-bg-l2;
    .left-item {
      width: 100%;
      border-radius: 12px;
      background: $common-bg-l2;
      height: 80px;
      margin-bottom: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
      }
      .left-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        p {
          margin: 0;
          padding: 0;
          color: $common-font-color;
        }
        .left-itemtitle {
          font-size: 18px;
          font-weight: bold;
          color: $common-font-color;
        }
        .left-itemdesc {
          font-size: 12px;
          opacity: 0.8;
          color: $common-font-color;
          margin-top: 8px;
        }
      }
    }
  }
  &[isMobile="true"] {
    .left {
      width: 100%;
      padding: 0 12px;
    }
  }
  &[isMobile="false"] {
    .left {
      width: 40%;
      padding-right: 12px;
    }
  }
  .right {
    flex:1;
    height: 100%;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .right-top-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      border-bottom: 1px solid $common-bg-l2;
      .right-item {
        padding: 8px 12px;
        border-radius: 2px;
        background: $common-bg-l2;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 12px;
        margin-bottom: 12px;
        cursor: pointer;
        img {
          width: 36px;
          height: 36px;
          border-radius: 100%;
        }
        a {
          color: $common-font-color !important;
          margin-left: 12px;
        }
      }
    }
    .right-bottom-list {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .title {
        width: 50%;
      }
    }
  }
  &[isMobile="true"] {
    .right {
      .right-top-list {
        .right-item {
          width: 100%;
        }
      }
    }
  }
  &[isMobile="false"] {
    .right {
      .right-top-list {
        .right-item {
          width: 45%;
        }
      }
    }
  }
}

.bottom-wrapper-col {
  position: relative;
  width: 100vw;
  margin-top: 36px;
  background: $blob-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .left {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: red;
  }
  .center {
    //flex: 1;
    height: max-content;
  }
  .right {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: red;
  }
}