.paper-container {
  background:
          /* 横线背景 */ linear-gradient(to bottom, transparent 95%, rgba(0, 0, 0, 0.1) 90%),
    /* 信纸纹理 */ url("data:image/png;base64,iVBORw0...") repeat;
  background-size: 100% 36px, auto;
  box-sizing: border-box;
}

.handwriting-font {
  margin: 0;
  border: none;
  background: transparent;
  line-height: 2;
  resize: none;
  width: 100%;
  font-family: "楷体", cursive;
  font-size: 18px;
  color: #000;
}
.paper-image {
  &[isMobile=true] {
    width: 95%;
  }
  &[isMobile=false] {
    width: 70%;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 12px;
  .single {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    :deep(.n-image) {
      width: 100%;
      border-radius: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .multi {
    width: 33.33%;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 4px;
    box-sizing: border-box;
    :deep(.n-image) {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.back {
  width: 99%;
  height: 99%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $common-font-color;
  opacity: 0.9;
}
.top {
  width: 99%;
  height: 99%;
  position: absolute;
  right: 0;
  top: 0;
  background: $common-font-color;
  box-sizing: border-box;
  overflow-y: scroll;
  &[isMobile=true] {
    padding: 24px 12px;
  }
  &[isMobile=false] {
    padding: 24px 80px;
  }
}