.cook-title {
  color: $common-font-color
}
.cook-main-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.table-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}